@import "tailwindcss";

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "DM Serif Text", serif;
    }
}

@layer utilities {
    .bg-accent {
        background-color: #121212;
    }

    .text-accent {
        color: #121212;
    }

    .text-accent:hover {
        color: #121212;
    }
}